DATABASE_URL=mysql://root@127.0.0.1:3306/ai_dev
DEEPSEEK_API_KEY=
PORT=4417
EXECUTOR_PORT=4418
PREVIEW_PORT=4419
SKILLS_DIR=./skills
DEFAULT_REPOSITORY_PATH=/Users/joey/Desktop/Projects/joey-doc
REPOSITORY_PATHS=/Users/joey/Desktop/Projects/joey-doc,/Users/joey/Desktop/Projects/test1_ai_dev
